html,
body {
    height: 100%;
}

.registration-body {
    background-color: #6f42c1;  
}

.main-container {
    height: 100%;
    @include flex-box(column, center, center);
}

.test {
    background-color: red;
}