{% extends "auth_app/base.html" %}
{% block meta_description %}This is the login page{% endblock %}
{% block title %}Application Name - Login{% endblock %}
{% block content %}
{% load static %}
    <main class="container main-container">
        {% if messages %}
            {% include 'messages.html' %}
        {% endif %}
        <section class="row card text-white bg-dark mb-3">
            <div class="card-header">
                Connexion
            </div>
            <div class="card-body">
                <form class="" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ login_form.username.label }}
                        {{ login_form.username }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label }}
                        {{ login_form.password }}
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Se connecter</button>                 
                </form>
                <div class="d-flex justify-content-center mt-2">
                    <a class="" href="{% url 'password_forgotten' %}">Mot de passe oublié</a>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <a class="" href="{% url 'register' %}">Créer un compte</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}