{% extends "auth_app/base.html" %}
{% block meta_description %}This is the passsword reset page to indicate the mail{% endblock %}
{% block title %}Application Name - Reset Password{% endblock %}
{% block content %}
{% load static %}
<main class="container main-container">
    {% if messages %}
        {% include 'messages.html' %}
    {% endif %}
    <section class="row card text-white bg-dark mb-3">
        <div class="card-header">
            Réinitialisation du mot de passe - Mail
        </div>
        <div class="card-body">
            <form class="" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ password_forgotten_form.mail.label }}
                    {{ password_forgotten_form.mail }}
                </div>
                <button type="submit" class="btn btn-block btn-primary">Envoyer</button>                 
            </form>
        </div>
    </section>
</main>
{% endblock %}